.ImageWithLoaderRoot {
    position: relative;
}

.cnImageWithLoaderWrapper {
    position: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.cnImageWithLoaderImg {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}

.cnImageWithLoaderImgLoaded {
    opacity: 1;
}