.cnUserBioRoot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnUserBioAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 35px;
}

.cnUserBioInfo {
    display: flex;
    flex-direction: column;
}

.cnUserBioRow {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cnUserBioNickName {
    font-weight: 600;
    font-size: 25px;
    margin-right: 10px;
}

.cnUserBioCounter {
    margin-right: 10px;
}

.cnUserBioName {
    font-weight: 600;
}